body {
  direction: rtl;
  text-align: center;
  width: 370px;
}

.btn-group button {
  background-color: #ada8a5;
  color: black;
  font-size: 25px;
  margin: 15px;
}

/*
.btn-group {
  width: 370px;
} */
.btn-group button:hover {
  background-color: #565452;
}

p {
  font-size: 20px;
}

footer {
  margin: 10px;
}

footer a {
  font-size: 15px;
}
