.btn-group button {
  background-color: #ada8a5;
  color: black;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.btn-group {
  width: 370px;
}

.btn-group button:hover {
  background-color: #565452;
}

p {
  font-size: 20px;
}
